
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Goods List</h2>
<br />

<button class="btn btn-success" id="opener">Add new good</button>
<br />
<br />
<table id="jqList"></table>
<div id="jqPager"></div>
<button id="editBtn" class="btn btn-warning" onclick="EditRow();">Edit</button>
<button id="saveBtn" class="btn btn-default" disabled='true' onclick="SaveRow();">Save</button>
<button id="cancelBtn" class="btn btn-default" disabled='true' onclick="CancelRow();">Cancel</button>
<button id="deleteBtn" class="btn btn-danger" disabled='true'>Delete</button>
<br />
<br />
<table id="goodData" style="display:none;">
    <tr>
        <td>Name:</td>
        <td id="goodName">
            not selected
        </td>
    </tr>
    <tr>
        <td>Price:</td>
        <td id="goodPrice">not selected</td>
    </tr>
    <tr>
        <td>Count:</td>
        <td id="goodAmount">not selected</td>
    </tr>
    <tr>
        <td>Common Price:</td>
        <td id="goodAllPrice">not selected</td>
    </tr>
</table>
<button id="showMovement" class="btn btn-info" disabled="true">Good coming/consumption</button>
<button id="showStat" class="btn btn-info" disabled="true">Good statistics</button>

<div id="dialog" class="dialog-box" title="Dialog Title" style="display:none;">
    <div class="add-good">
        <div class="alert alert-danger" id="goodFormValidation" role="alert" style="display:none;"></div>
        <form id="addGoodForm" method="post" action="@Url.Action("AddGood", "Goods")" class="form-horizontal">
            <div class="form-group">
                <label for="newGoodName">Name</label>
                <input type="text" class="form-control" name="Name" id="newGoodName">
            </div>
            <div class="form-group">
                <label for="newGoodPrice">Price</label>
                <input type="text" class="form-control" name="Price" id="newGoodPrice">
            </div>
            <button type="submit" class="btn btn-success">Add good</button>
        </form>
    </div>
</div>

<div id="movementDialog" class="dialog-box" title="Dialog Title" style="display:none;">
    <div class="add-good">
        <div class="alert alert-danger" id="movementFormValidation" role="alert" style="display:none;"></div>
        <form id="addMovementForm" method="post" action="@Url.Action("AddMovement", "Goods")" class="form-horizontal">
            <div class="form-group">
                <label for="movementGoodName">Name</label>
                <div class="form-control fake-input" name="Name" id="movementGoodName" > </div> 
            </div>
            <div class="form-group">
                <label for="newGoodPrice">Type</label>
                <select class="form-control" id="typeOption" name="Type">
                    <option value="Coming">Coming</option>
                    <option value="Consumption">Consumption</option>
                </select>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" class="form-control" name="Amount" id="amount">
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <button id="cancelMovement" type="reset" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>

<div id="dialogDelete" class="dialog-box" title="Dialog Title" style="display:none;">
    <br />
    <div>
        Are you sure you want to delete this good?
    </div>
    <br />
    <div style="text-align:center;">
        <button class="btn btn-danger" onclick="DeleteGood();">Yes</button>
        <button class="btn btn-default" id="cancelDelete">No</button>
    </div>
</div>

<div id="dialogStat" class="dialog-box" title="Good Statistics" style="display:none;">
    <table id="jqStat"></table>
    <div id="pagerStat"></div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqGrid")
@Scripts.Render("~/bundles/scripts")